<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- TODO: make title variable in application config -->
    <!-- TODO: serve up page variable -->
    <title>Recruiter</title>
    <meta name="description" content="Online recruitment software for
      economics experiments written with rails">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong>
        browser. Please <a href="http://browsehappy.com/">upgrade your browser
        </a> or <a href="http://www.google.com/chromeframe/?redirect=true"
        activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <%= render 'shared/navbar' %>
    <%= yield :jumbotron %>

    <div class="container">
      <%= render 'shared/flash' %>
      <%= yield %>

      <hr>

      <%= render 'shared/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div><!--/container -->

    <%= render 'shared/sign_in_modal' %>
    <%= render 'shared/sign_up_modal' %>

    <% if Rails.env.development? %>
      <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <% end %>
  </body>
</html>
